---
import { Image } from "astro:assets";
import "./hero1.css";
import { getHeroSection } from "../../lib/helpers/hero";

const { heading, paragraph, heroDesktopImage, heroMobileImage, callToAction } =
  await getHeroSection();
---

<section id="hero-1059">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">{heading}</h1>
      <p class="cs-text">
        {paragraph}
      </p>
      <a href="" class="cs-button-solid">{callToAction}</a>
    </div>
  </div>

  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset={`https:${heroMobileImage}`} />
    <source media="(min-width: 601px)" srcset={`https:${heroDesktopImage}`} />
    <Image
      src={`https:${heroDesktopImage}`}
      alt="hero image"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>
