---
import { Image } from "astro:assets";
import "../../styles/hero1.css";
import { contentfulClient } from "../../lib/contentful";
import type { EntryFieldTypes } from "contentful/dist/types/types/entry";
import type { AssetFields } from "contentful/dist/types/types/asset";

export interface HeroModel {
  contentTypeId: "hero";
  fields: {
    heading: EntryFieldTypes.Text;
    paragraph: EntryFieldTypes.Text;
    image: AssetFields;
    mobileImage: AssetFields;
    callToAction: EntryFieldTypes.Text;
  };
}

const response = await contentfulClient.getEntry<HeroModel>(import.meta.env.CONTENTFUL_HERO);
const {
  heading,
  paragraph,
  image,
  mobileImage,
  callToAction = "Request Appointment",
} = response.fields || {};

//@ts-ignore
const heroDesktopImage: AssetFields = image?.fields || {};
//@ts-ignore
const heroMobileImage: AssetFields = mobileImage?.fields || {};
---

<section id="hero-1059">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">{heading}</h1>
      <p class="cs-text">
        {paragraph}
      </p>
      <a href="" class="cs-button-solid">{callToAction}</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset={`https:${heroMobileImage?.file?.url}`} />
    <source media="(min-width: 601px)" srcset={`https:${heroDesktopImage?.file?.url}`} />
    <Image
      src={`https:${heroDesktopImage?.file?.url}`}
      alt={heroDesktopImage.description!}
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>
