---
import { Image } from "astro:assets";
import { navItems } from "./data";
---

<ul id="cs-expanded" class="cs-ul" aria-expanded="false">
  {
    navItems.map(item => (
      <li class={`cs-li${item.dropdown ? " cs-dropdown" : ""}`} tabindex="0">
        {item.dropdown ? (
          <span class="cs-li-link">
            {item.text}
            <Image
              class="cs-drop-icon"
              src={item.iconSrc!}
              alt="dropdown icon"
              width="15"
              height="15"
              aria-hidden="true"
            />
          </span>
        ) : (
          <a href={item.href} class="cs-li-link">
            {item.text}
          </a>
        )}

        {item.dropdown && (
          <ul class="cs-drop-ul">
            {item.dropdownItems!.map(dropdownItem => (
              <li class="cs-drop-li">
                <a href={dropdownItem.href} class="cs-li-link cs-drop-link">
                  {dropdownItem.text}
                </a>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
</ul>
