---
import { Image } from "astro:assets";
import "../styles/faq.css";
import { contentfulClient } from "../lib/contentful";
import { transformResponseToObjectArray } from "../helpers/helpers";

interface FaqModel {
  contentTypeId: "faq";
  fields: Record<string, string>;
}

interface FaqCardsModel {
  contentTypeId: "faqCards";
  fields: Record<string, string>;
}

const faqData = await contentfulClient.getEntries<FaqModel>({
  content_type: "faq",
});

const faqCardsData = await contentfulClient.getEntries<FaqCardsModel>({
  content_type: "faqCards",
});

const faqItems = faqData.items.map(review => {
  return {
    question: review.fields.question,
    answer: review.fields.answer,
  };
});

const cardData = faqCardsData.items.map(review => {
  return {
    //@ts-ignore
    iconSrc: review.fields.faqCardIcon.fields.file.url,
    stat: review.fields.faqCardStat,
    description: review.fields.faqCardDescription,
  };
});
---

<br />
<section id="faq-1143">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Asked questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <ul class="cs-faq-group">
        {
          faqItems.map(item => (
            <li class="cs-faq-item">
              <button class="cs-button">
                <span class="cs-button-text">{item.question}</span>
              </button>
              <p class="cs-item-p">{item.answer}</p>
            </li>
          ))
        }
      </ul>
    </div>
    <ul class="cs-card-group">
      {
        cardData.map(item => (
          <li class="cs-item">
            <div class="cs-image-group">
              <Image class="cs-icon" src={item.iconSrc} alt="icon" width="48" height="48" />
            </div>
            <h3 class="cs-number">{item.stat}</h3>
            <span class="cs-desc">{item.description}</span>
          </li>
        ))
      }
    </ul>
  </div>
</section>
<script>
  const faqItems = document.querySelectorAll(".cs-faq-item");
  const faqButtons = document.querySelectorAll(".cs-button");

  faqButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      faqItems.forEach((item, i) => {
        const isClickedItem = i === index;
        isClickedItem ? item.classList.toggle("active") : item.classList.remove("active");
      });
    });
  });
</script>
