---
import Location from "../components/icons/Location.astro";
import { contentfulClient } from "../lib/contentful";
import Phone from "./icons/Phone.astro";
import Mail from "./icons/Mail.astro";

interface IContactInfo {
  title: string;
  href: string;
  details: string | any;
}

const response = await contentfulClient.getEntry(import.meta.env.CONTENTFUL_CONTACT_INFO);
const { address, phoneNumber, email } = response.fields;

let topBarLinks: IContactInfo[] = [];

if (response) {
  topBarLinks = [
    {
      title: "Call Us",
      href: `tel:${phoneNumber}`,
      details: phoneNumber,
    },
    {
      title: "Send a message",
      href: `mailto:${email}`,
      details: "Click To Email Us",
    },
    {
      title: "Location",
      // @ts-ignore
      href: `https://www.google.com/maps?q=${address?.lat},${address?.lon!} `,
      details: "Find us on Google Maps",
    },
  ];
}
---

<ul class="cs-top-bar">
  {
    topBarLinks.map(link => {
      return (
        <li class="cs-item">
          {link.title === "Location" ? <Location size="25" /> : ""}
          {link.title === "Send a message" ? <Mail size="25" /> : ""}
          {link.title === "Call Us" ? <Phone size="25" fill="red" /> : ""}

          <div class="cs-flex">
            <span class="cs-header">{link.title}</span>
            <a href={link.href} class="cs-link" target="_blank" rel="noopener">
              {link.details}
            </a>
          </div>
        </li>
      );
    })
  }
</ul>
